html
  head
    title=title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello!

        if userid
          p Welcome, #{username}
          if message
            p Your current message is "#{message}"
          p
            a.small(href="message/?id=#{userid}") Manage my message
        else
          p In order to use My Message, please log in with Facebook
          p
            a.btn.btn-primary(href="/login/facebook") Login now
