html
  head
    title=title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.page-header
        h1 Manage your Alexa Message

        form(action='/savemessage', method='POST')
          input(type="hidden", name="username" value=username)
          if message
            textarea(rows="4" class="form-control" cols="40" name="message") #{message}
          else
            textarea(rows="4" class="form-control" cols="40" name="message")
          p
          button.btn.btn-primary(type="submit") Save Message
